@charset "utf-8";

*{
    box-sizing: border-box;
    font-family: 'Geograph-Light', 'Noto Sans KR', sans-serif;
}
html{font-size: 10px;}
body{margin:0;}
h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
a{text-decoration: none;}
ul,li{list-style-type: none; padding:0; margin:0;}
img{vertical-align: middle; width: 100%;}
table{border-collapse: collapse;}