@import './conmmon';

/* mobiie */
@media (min-width:320px) and (max-width:767px){
    html{font-size: 10px;}

    // header---------------------------------------------------
    .header{
        width: 100%;
        background: #fff;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid #757575;
        .top{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 90%;
            .triger-menu{
                display: block;
                background: url('../img/indeximg/burgerbtn.png');
                background-size: cover;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                z-index: 999;
            }
            .triger-menu.active{
                background: url('../img/indeximg/closebtn.png');
                background-size: cover;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                z-index: 999;
            }
            a:nth-of-type(2){
                margin-left: 25%;
                width: 32%;
                img{width: 100%;}
            }
            a:nth-of-type(3){
                margin-left: 10%;
                width: 5%;
                img{width: 100%;}
            }
            a:nth-of-type(4){
                width: 7%;
                img{width: 100%;}
            }
            a:nth-of-type(5){
                width: 5%;
                img{width: 100%;}
            }
        }
        .nav{width: 100%; height: 100%;
            background: #fff;
            transform: translateX(-100%);
            position: fixed;
            transition: .5s;
            overflow: auto;
            z-index: 10;
            .submenu{
                border-bottom: 1px solid #757575;
                padding-bottom: 10%;
                .shoesmenu{
                    background: #fff;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    font-size: 3rem;
                    font-weight: bold;
                    transition: .5s;
                    text-align: left;
                    padding: 10px;
                    p{float: left;}
                }
                .shoesmenu:nth-of-type(5){color: #f00;}
                .shoesmenu.active{
                    font-weight: bold;
                    color: #000;
                }
                .shoesmenu::after{
                    content: '';
                    background-image: url('../img/indeximg/plus.png');
                    background-size: 30px 30px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    position: relative;
                    float: right;
                    top: 7px;
                }
                .shoesmenu.active::after{
                    background-image: url('../img/indeximg/minus.png');
                    content: '';
                }
                .panel{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    a{
                        p{color: #000; font-size: 2rem;
                        padding: 2% 5%;
                        }
                    }
                }
            }
            .user{border-bottom: 1px solid #757575;
                .usermenu{
                    background: #fff;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    font-size: 1.4rem;
                    font-weight: bold;
                    transition: .5s;
                    text-align: left;
                    padding: 10px;
                    p{float: left;}
                }
                .usermenu.active{
                    font-weight: bold;
                    color: #000;
                }
                .usermenu::after{
                    content: '';
                    background-image: url('../img/indeximg/plus.png');
                    background-size: 20px 20px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    float: right;
                    top: 0;
                }
                .usermenu.active::after{
                    background-image: url('../img/indeximg/minus.png');
                    content: '';
                }
            }
        }
        .nav.active{transform: translateX(0%);}
    }
    
    // header end-----------------------------------------------
    

    // content--------------------------------------------------

    .content{
        padding-top: 13%;
        .sessionbox{
            a{
                img{width: 100%;}
            }
            a:nth-of-type(3){
                p{
                    width: 90%;
                    height: 50px;
                    margin: 5% auto;
                    background: #000;
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                    line-height: 50px;
                    
                }   
            }
        }
        .corner_title{
            h2{font-size: 2.2rem;margin: 5%;}
            >a{
                p{color: #000;margin-left: 5%;
                font-size: 1.2rem;
                font-weight: bold;
                
                }
                p::before{content: '→';
                font-size: 1.5rem;
                align-items: center;
                font-weight: bold;
                }
            }
            .slider{
                width: 100%;
                .slider-inner{
                    width: 100%;
                    overflow-x: scroll;
                    white-space: nowrap;
                    padding: 2%;
                    .item{
                        display: inline-flex;
                        width:45%;
                        p{color: #000;margin-left: 5%;font-size: 1.4rem;}
                    }
                }
                .slider-inner.active{}
            }
            .bannerbox{
                .banner01{
                    a{
                        img{}
                    }
                }
                .arrival{
                    display: flex;
                    .new01{width: 50%;
                        position: relative;
                        .likebox01{
                            margin-top: 7%;
                            align-items: center;
                            display: flex;
                            position: absolute;
                            .heartbtn{
                                background-image: url("../img/indeximg/heart.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 20px;
                                border: none;
                                cursor: pointer;
                            }
                            .heartbtn.active{
                                background-image: url("../img/indeximg/redheart.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                                transition: .3s;
                                width: 20px;
                                height: 20px;
                                border: none;
                                cursor: pointer;
                            }
                            p{
                                font-weight: bold;
                                font-size: 1.3rem;
                            }
                        }
                        .img01{
                            .shoeschange{
                                background-image: url("../img/indeximg/003.jpg");
                                background-size: cover;
                                background-repeat:no-repeat;
                                transition: .3s;
                                width: 100%;
                                height: 225px;
                            }
                            .shoeschange.active{
                                background-image: url("../img/indeximg/004.jpg");
                                background-size: cover;
                                background-repeat:no-repeat;
                                transition: .3s;
                                width: 100%;
                                height: 225px;
                            }
                        }
                        .likebox001{
                            position: absolute;
                            bottom:22px;
                            
                            span{font-size: 1.2rem;color: #000;}
                        }
                    }
                    .new02{width: 50%;
                        position: relative;
                        .likebox02{
                            margin-top: 7%;
                            align-items: center;
                            display: flex;
                            position: absolute;
                            .heartbtn2{
                                background-image: url("../img/indeximg/heart.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 20px;
                                border: none;
                                cursor: pointer;
                            }
                            .heartbtn2.active{
                                background-image: url("../img/indeximg/redheart.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                                transition: .3s;
                                width: 20px;
                                height: 20px;
                                border: none;
                                cursor: pointer;
                            }
                            p{
                                font-weight: bold;
                                font-size: 1.3rem;
                            }
                        }
                        .img02{
                            .shoeschange2{
                                background-image: url("../img/indeximg/001.jpg");
                                background-size: cover;
                                background-repeat:no-repeat;
                                transition: .3s;
                                width: 100%;
                                height: 225px;
                            }
                            .shoeschange2.active{
                                background-image: url("../img/indeximg/002.jpg");
                                background-size: cover;
                                background-repeat:no-repeat;
                                transition: .3s;
                                width: 100%;
                                height: 225px;
                            }
                        }
                        .likebox002{
                            position: absolute;
                            bottom:22px;
                            span{font-size: 1.2rem;color: #000;}
                        }
                    }
                }
            }
        }
        .bg{position: relative;
            .bgtext{position: absolute; padding: 2%;
                    text-align: right; right: 0;
                h2{font-size: 3rem;font-weight: bold;}
                h6{font-size: 1.09rem;}
            }
            .bgimg{}
            a{
                p{
                    width: 90%;
                    height: 50px;
                    margin: 5% auto;
                    background: #fff;
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                    line-height: 50px;
                    border: 1px solid #000;
                }
            }
        }
        .explore{
            .explore0{
                border: 1px solid #757575;
                display: flex;
                .explore01{width: 50%;
                    ul{
                        
                        li{
                            padding: 10%;
                            padding-bottom: 26%;
                            a{
                                display: flex;
                                align-items: center;
                                font-size: 2rem;
                                color: #000;
                                img{width: 30px;
                                }
                            }
                        }
                        li:nth-of-type(1){border-bottom: 1px solid #757575;}
                        li:nth-of-type(2){border-bottom: 1px solid #757575;}
                    }
                }
                .explore02{width: 50%;
                    ul{border-left: 1px solid #757575;
                        li{
                            padding: 10%;
                            a{
                                font-size: 1.6rem;
                                color: #000;
                                img{width: 20px;}
                            }
                        }
                    }
                }
            }
        }
        .marketing{
            margin-top: 15%;
            ul{display: flex;
                text-align: center;
                flex-direction: row;
                flex-wrap: wrap;
                li{width: 50%;
                    border: 1px solid #757575;
                    padding:10% 0;
                    .txt01{font-size: 1.6rem;
                        font-weight: bold;
                    }
                    .txt02{font-size: 1.2rem;}
                }
                li:nth-of-type(1){
                    img{width: 50px;margin-top: 7%;}
                }
                li:nth-of-type(2){
                    img{width: 40px;}
                    a{color: #000;font-size: 1.2rem;
                        border-bottom: 1px solid #000;
                    }
                }
                li:nth-of-type(3){
                    img{width: 60px;}
                    a{color: #000;font-size: 1.2rem;
                        border-bottom: 1px solid #000;
                    }
                }
                li:nth-of-type(4){
                    a:nth-of-type(1){
                        img{width: 20px;margin: 6%;}
                    }
                    a:nth-of-type(2){
                        img{width: 20px;margin: 6%;}
                    }
                }
            }
        }
    }
    .footer{
        .familysites{
            .sites{border: 1px solid #000;
                padding: 21px 50px 21px 16px;
                position: relative;
                p{font-size: 1.2rem;}
                >button{
                    position: absolute;
                    background: none;
                    width: 40px;
                    border: none;
                    outline: 0;
                    right: 10px;
                    top: 25%;
                    img{}
                }
            }
        }
        .conkorea{
            text-align: center;
            .converkor{
                p{
                    a{color: gray;font-size: 1.5rem;}
                }
                a:nth-of-type(1){
                    img{width: 15px;margin: 5%;}
                }
                a:nth-of-type(2){
                    img{width: 15px;margin: 5%;}
                }
                P{color: gray;font-size: 1.1rem;
                    line-height: 2;
                }
                p:nth-of-type(1){color: #000;margin: 5% 0;}
                p:nth-of-type(6){color: #000;}
                p:nth-of-type(11){
                    color: #000;font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
        .kor{
            background:#000 ;
            padding: 21px 16px 21px 16px;
            display: flex;
            justify-content: space-between;
            span:nth-of-type(1){
                color:#fff;
                img{width: 20px;}
            }
            span:nth-of-type(2){color: gainsboro;}
        }
    }
}