@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Geograph-Light', 'Noto Sans KR', sans-serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

table {
  border-collapse: collapse;
}

/* mobiie */
@media (min-width: 320px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
  .header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #757575;
  }
  .header .top {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 90%;
  }
  .header .top .triger-menu {
    display: block;
    background: url("../img/indeximg/burgerbtn.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    z-index: 999;
  }
  .header .top .triger-menu.active {
    background: url("../img/indeximg/closebtn.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    z-index: 999;
  }
  .header .top a:nth-of-type(2) {
    margin-left: 25%;
    width: 32%;
  }
  .header .top a:nth-of-type(2) img {
    width: 100%;
  }
  .header .top a:nth-of-type(3) {
    margin-left: 10%;
    width: 5%;
  }
  .header .top a:nth-of-type(3) img {
    width: 100%;
  }
  .header .top a:nth-of-type(4) {
    width: 7%;
  }
  .header .top a:nth-of-type(4) img {
    width: 100%;
  }
  .header .top a:nth-of-type(5) {
    width: 5%;
  }
  .header .top a:nth-of-type(5) img {
    width: 100%;
  }
  .header .nav {
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: auto;
    z-index: 10;
  }
  .header .nav .submenu {
    border-bottom: 1px solid #757575;
    padding-bottom: 10%;
  }
  .header .nav .submenu .shoesmenu {
    background: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: left;
    padding: 10px;
  }
  .header .nav .submenu .shoesmenu p {
    float: left;
  }
  .header .nav .submenu .shoesmenu:nth-of-type(5) {
    color: #f00;
  }
  .header .nav .submenu .shoesmenu.active {
    font-weight: bold;
    color: #000;
  }
  .header .nav .submenu .shoesmenu::after {
    content: '';
    background-image: url("../img/indeximg/plus.png");
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    top: 7px;
  }
  .header .nav .submenu .shoesmenu.active::after {
    background-image: url("../img/indeximg/minus.png");
    content: '';
  }
  .header .nav .submenu .panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .header .nav .submenu .panel a p {
    color: #000;
    font-size: 2rem;
    padding: 2% 5%;
  }
  .header .nav .user {
    border-bottom: 1px solid #757575;
  }
  .header .nav .user .usermenu {
    background: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: left;
    padding: 10px;
  }
  .header .nav .user .usermenu p {
    float: left;
  }
  .header .nav .user .usermenu.active {
    font-weight: bold;
    color: #000;
  }
  .header .nav .user .usermenu::after {
    content: '';
    background-image: url("../img/indeximg/plus.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
    top: 0;
  }
  .header .nav .user .usermenu.active::after {
    background-image: url("../img/indeximg/minus.png");
    content: '';
  }
  .header .nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .content {
    padding-top: 13%;
  }
  .content .sessionbox a img {
    width: 100%;
  }
  .content .sessionbox a:nth-of-type(3) p {
    width: 90%;
    height: 50px;
    margin: 5% auto;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
  }
  .content .corner_title h2 {
    font-size: 2.2rem;
    margin: 5%;
  }
  .content .corner_title > a p {
    color: #000;
    margin-left: 5%;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .content .corner_title > a p::before {
    content: '→';
    font-size: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
  }
  .content .corner_title .slider {
    width: 100%;
  }
  .content .corner_title .slider .slider-inner {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 2%;
  }
  .content .corner_title .slider .slider-inner .item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 45%;
  }
  .content .corner_title .slider .slider-inner .item p {
    color: #000;
    margin-left: 5%;
    font-size: 1.4rem;
  }
  .content .corner_title .bannerbox .arrival {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .corner_title .bannerbox .arrival .new01 {
    width: 50%;
    position: relative;
  }
  .content .corner_title .bannerbox .arrival .new01 .likebox01 {
    margin-top: 7%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .content .corner_title .bannerbox .arrival .new01 .likebox01 .heartbtn {
    background-image: url("../img/indeximg/heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
  .content .corner_title .bannerbox .arrival .new01 .likebox01 .heartbtn.active {
    background-image: url("../img/indeximg/redheart.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
  .content .corner_title .bannerbox .arrival .new01 .likebox01 p {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .content .corner_title .bannerbox .arrival .new01 .img01 .shoeschange {
    background-image: url("../img/indeximg/003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 225px;
  }
  .content .corner_title .bannerbox .arrival .new01 .img01 .shoeschange.active {
    background-image: url("../img/indeximg/004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 225px;
  }
  .content .corner_title .bannerbox .arrival .new01 .likebox001 {
    position: absolute;
    bottom: 22px;
  }
  .content .corner_title .bannerbox .arrival .new01 .likebox001 span {
    font-size: 1.2rem;
    color: #000;
  }
  .content .corner_title .bannerbox .arrival .new02 {
    width: 50%;
    position: relative;
  }
  .content .corner_title .bannerbox .arrival .new02 .likebox02 {
    margin-top: 7%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .content .corner_title .bannerbox .arrival .new02 .likebox02 .heartbtn2 {
    background-image: url("../img/indeximg/heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
  .content .corner_title .bannerbox .arrival .new02 .likebox02 .heartbtn2.active {
    background-image: url("../img/indeximg/redheart.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
  .content .corner_title .bannerbox .arrival .new02 .likebox02 p {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .content .corner_title .bannerbox .arrival .new02 .img02 .shoeschange2 {
    background-image: url("../img/indeximg/001.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 225px;
  }
  .content .corner_title .bannerbox .arrival .new02 .img02 .shoeschange2.active {
    background-image: url("../img/indeximg/002.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 225px;
  }
  .content .corner_title .bannerbox .arrival .new02 .likebox002 {
    position: absolute;
    bottom: 22px;
  }
  .content .corner_title .bannerbox .arrival .new02 .likebox002 span {
    font-size: 1.2rem;
    color: #000;
  }
  .content .bg {
    position: relative;
  }
  .content .bg .bgtext {
    position: absolute;
    padding: 2%;
    text-align: right;
    right: 0;
  }
  .content .bg .bgtext h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  .content .bg .bgtext h6 {
    font-size: 1.09rem;
  }
  .content .bg a p {
    width: 90%;
    height: 50px;
    margin: 5% auto;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
  }
  .content .explore .explore0 {
    border: 1px solid #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .explore .explore0 .explore01 {
    width: 50%;
  }
  .content .explore .explore0 .explore01 ul li {
    padding: 10%;
    border: 1px solid #757575;
    padding-bottom: 26%;
  }
  .content .explore .explore0 .explore01 ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    color: #000;
  }
  .content .explore .explore0 .explore01 ul li a img {
    width: 30px;
  }
  .content .explore .explore0 .explore02 {
    width: 50%;
  }
  .content .explore .explore0 .explore02 ul li {
    padding: 10%;
  }
  .content .explore .explore0 .explore02 ul li a {
    font-size: 1.6rem;
    color: #000;
  }
  .content .explore .explore0 .explore02 ul li a img {
    width: 20px;
  }
  .content .marketing {
    margin-top: 15%;
  }
  .content .marketing ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .marketing ul li {
    width: 50%;
    border: 1px solid #757575;
    padding: 10% 0;
  }
  .content .marketing ul li .txt01 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .content .marketing ul li .txt02 {
    font-size: 1.2rem;
  }
  .content .marketing ul li:nth-of-type(1) img {
    width: 50px;
    margin-top: 7%;
  }
  .content .marketing ul li:nth-of-type(2) img {
    width: 40px;
  }
  .content .marketing ul li:nth-of-type(2) a {
    color: #000;
    font-size: 1.2rem;
    border-bottom: 1px solid #000;
  }
  .content .marketing ul li:nth-of-type(3) img {
    width: 60px;
  }
  .content .marketing ul li:nth-of-type(3) a {
    color: #000;
    font-size: 1.2rem;
    border-bottom: 1px solid #000;
  }
  .content .marketing ul li:nth-of-type(4) a:nth-of-type(1) img {
    width: 20px;
    margin: 6%;
  }
  .content .marketing ul li:nth-of-type(4) a:nth-of-type(2) img {
    width: 20px;
    margin: 6%;
  }
  .footer .familysites .sites {
    border: 1px solid #000;
    padding: 21px 50px 21px 16px;
    position: relative;
  }
  .footer .familysites .sites p {
    font-size: 1.2rem;
  }
  .footer .familysites .sites > button {
    position: absolute;
    background: none;
    width: 40px;
    border: none;
    outline: 0;
    right: 10px;
    top: 25%;
  }
  .footer .conkorea {
    text-align: center;
  }
  .footer .conkorea .converkor p a {
    color: gray;
    font-size: 1.5rem;
  }
  .footer .conkorea .converkor a:nth-of-type(1) img {
    width: 15px;
    margin: 5%;
  }
  .footer .conkorea .converkor a:nth-of-type(2) img {
    width: 15px;
    margin: 5%;
  }
  .footer .conkorea .converkor P {
    color: gray;
    font-size: 1.1rem;
    line-height: 2;
  }
  .footer .conkorea .converkor p:nth-of-type(1) {
    color: #000;
    margin: 5% 0;
  }
  .footer .conkorea .converkor p:nth-of-type(6) {
    color: #000;
  }
  .footer .conkorea .converkor p:nth-of-type(11) {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .footer .kor {
    background: #000;
    padding: 21px 16px 21px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .kor span:nth-of-type(1) {
    color: #fff;
  }
  .footer .kor span:nth-of-type(1) img {
    width: 20px;
  }
  .footer .kor span:nth-of-type(2) {
    color: gainsboro;
  }
}
/*# sourceMappingURL=index.css.map */