* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Geograph-Light', 'Noto Sans KR', sans-serif;
}

* ::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

table {
  border-collapse: collapse;
}

/* mobiie */
@media (min-width: 320px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
  .header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #757575;
  }
  .header .top {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 90%;
  }
  .header .top .triger-menu {
    display: block;
    background: url("../img/indeximg/burgerbtn.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    z-index: 999;
  }
  .header .top .triger-menu.active {
    background: url("../img/indeximg/closebtn.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    z-index: 999;
  }
  .header .top a:nth-of-type(2) {
    margin-left: 25%;
    width: 32%;
  }
  .header .top a:nth-of-type(2) img {
    width: 100%;
  }
  .header .top a:nth-of-type(3) {
    margin-left: 10%;
    width: 5%;
  }
  .header .top a:nth-of-type(3) img {
    width: 100%;
  }
  .header .top a:nth-of-type(4) {
    width: 7%;
  }
  .header .top a:nth-of-type(4) img {
    width: 100%;
  }
  .header .top a:nth-of-type(5) {
    width: 5%;
  }
  .header .top a:nth-of-type(5) img {
    width: 100%;
  }
  .header .nav {
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: auto;
    z-index: 10;
  }
  .header .nav .submenu {
    border-bottom: 1px solid #757575;
    padding-bottom: 10%;
  }
  .header .nav .submenu .shoesmenu {
    background: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: left;
    padding: 10px;
  }
  .header .nav .submenu .shoesmenu p {
    float: left;
  }
  .header .nav .submenu .shoesmenu:nth-of-type(5) {
    color: #f00;
  }
  .header .nav .submenu .shoesmenu.active {
    font-weight: bold;
    color: #000;
  }
  .header .nav .submenu .shoesmenu::after {
    content: '';
    background-image: url("../img/indeximg/plus.png");
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    top: 7px;
  }
  .header .nav .submenu .shoesmenu.active::after {
    background-image: url("../img/indeximg/minus.png");
    content: '';
  }
  .header .nav .submenu .panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .header .nav .submenu .panel a p {
    color: #000;
    font-size: 2rem;
    padding: 2% 5%;
  }
  .header .nav .user {
    border-bottom: 1px solid #757575;
  }
  .header .nav .user .usermenu {
    background: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: left;
    padding: 10px;
  }
  .header .nav .user .usermenu p {
    float: left;
  }
  .header .nav .user .usermenu.active {
    font-weight: bold;
    color: #000;
  }
  .header .nav .user .usermenu::after {
    content: '';
    background-image: url("../img/indeximg/plus.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
    top: 0;
  }
  .header .nav .user .usermenu.active::after {
    background-image: url("../img/indeximg/minus.png");
    content: '';
  }
  .header .nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .content {
    padding-top: 15%;
    margin-bottom: 20%;
  }
  .content .shoestop {
    text-align: center;
  }
  .content .shoestop a {
    color: #757575;
    font-size: 1.2rem;
  }
  .content .shoestop a:nth-of-type(1) {
    color: #757575;
  }
  .content .shoestop a:nth-of-type(2) {
    color: #757575;
  }
  .content .shoestop a:nth-of-type(3) {
    color: #000;
  }
  .content .shoestop .topimg {
    position: relative;
    width: 95%;
    margin: 0 auto;
  }
  .content .shoestop .topimg img {
    width: 100%;
  }
  .content .shoestop .topimg .txt01 {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .content .shoestop .topimg .txt01 h2 {
    font-size: 2.8rem;
  }
  .content .filter {
    margin: 5% auto;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid #757575;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .filter span:nth-of-type(1) {
    padding: 5%;
    border-right: 1px solid #757575;
  }
  .content .filter span:nth-of-type(1) img {
    width: 15px;
  }
  .content .filter span:nth-of-type(2) {
    padding: 5%;
    color: #757575;
    font-size: 1.4rem;
  }
  .content .shoes {
    width: 95%;
    margin: 0 auto;
  }
  .content .shoes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .shoes ul li {
    width: 50%;
    text-align: center;
  }
  .content .shoes ul li .likebox01 {
    margin: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .content .shoes ul li .likebox01 button {
    background: none;
    width: 27px;
    border: none;
    outline: 0;
  }
  .content .shoes ul li .likebox01 p {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .content .shoes ul li .shoesimg01 img {
    width: 95%;
  }
  .content .shoes ul li .likebox001 {
    margin: 0 auto;
    width: 95%;
  }
  .content .shoes ul li .likebox001 p {
    text-align: left;
    font-size: 1.2rem;
  }
  .content .shoes ul li .likebox001 p:nth-child(1) {
    color: #000;
  }
  .content .shoes ul li .shoescolor01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .shoes ul li .shoescolor01 span {
    display: block;
    margin: 3%;
  }
  .content .shoes ul li .shoescolor01 span:nth-of-type(1) {
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor01 span:nth-of-type(2) {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .shoes ul li .shoescolor02 span {
    display: block;
    margin: 3%;
  }
  .content .shoes ul li .shoescolor02 span:nth-of-type(1) {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor02 span:nth-of-type(2) {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .shoes ul li .shoescolor03 span {
    display: block;
    margin: 3%;
  }
  .content .shoes ul li .shoescolor03 span:nth-of-type(1) {
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor03 span:nth-of-type(2) {
    width: 14px;
    height: 14px;
    background: #f00;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .shoes ul li .shoescolor04 span {
    display: block;
    margin: 3%;
  }
  .content .shoes ul li .shoescolor04 span:nth-of-type(1) {
    width: 14px;
    height: 14px;
    background: #131936;
    border-radius: 50%;
  }
  .content .shoes ul li .shoescolor04 span:nth-of-type(2) {
    width: 14px;
    height: 14px;
    background: #ff0;
    border-radius: 50%;
  }
  .footer .familysites .sites {
    border: 1px solid #000;
    padding: 21px 50px 21px 16px;
    position: relative;
  }
  .footer .familysites .sites p {
    font-size: 1.2rem;
  }
  .footer .familysites .sites > button {
    position: absolute;
    background: none;
    width: 40px;
    border: none;
    outline: 0;
    right: 10px;
    top: 25%;
  }
  .footer .conkorea {
    text-align: center;
  }
  .footer .conkorea .converkor p a {
    color: gray;
    font-size: 1.5rem;
  }
  .footer .conkorea .converkor a:nth-of-type(1) img {
    width: 15px;
    margin: 5%;
  }
  .footer .conkorea .converkor a:nth-of-type(2) img {
    width: 15px;
    margin: 5%;
  }
  .footer .conkorea .converkor P {
    color: gray;
    font-size: 1.1rem;
    line-height: 2;
  }
  .footer .conkorea .converkor p:nth-of-type(1) {
    color: #000;
    margin: 5% 0;
  }
  .footer .conkorea .converkor p:nth-of-type(6) {
    color: #000;
  }
  .footer .conkorea .converkor p:nth-of-type(11) {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .footer .kor {
    background: #000;
    padding: 21px 16px 21px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .kor span:nth-of-type(1) {
    color: #fff;
  }
  .footer .kor span:nth-of-type(1) img {
    width: 20px;
  }
  .footer .kor span:nth-of-type(2) {
    color: gainsboro;
  }
}
/*# sourceMappingURL=kid_sub.css.map */