@import './conmmon';

/* mobiie */
@media (min-width:320px) and (max-width:767px){
    html{font-size: 10px;}
    // header---------------------------------------------------
    .header{
        width: 360px;
        background: #fff;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid #757575;
        .top{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 90%;
            .triger-menu{
                display: block;
                background: url('../img/indeximg/burgerbtn.png');
                background-size: cover;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                z-index: 999;
            }
            .triger-menu.active{
                background: url('../img/indeximg/closebtn.png');
                background-size: cover;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                z-index: 999;
            }
            a:nth-of-type(2){
                margin-left: 25%;
                width: 32%;
                img{width: 100%;}
            }
            a:nth-of-type(3){
                margin-left: 10%;
                width: 5%;
                img{width: 100%;}
            }
            a:nth-of-type(4){
                width: 7%;
                img{width: 100%;}
            }
            a:nth-of-type(5){
                width: 5%;
                img{width: 100%;}
            }
        }
        .nav{width: 100%; height: 100%;
            background: #fff;
            transform: translateX(-100%);
            position: fixed;
            transition: .5s;
            overflow: auto;
            z-index: 10;
            .submenu{
                border-bottom: 1px solid #757575;
                padding-bottom: 10%;
                .shoesmenu{
                    background: #fff;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    font-size: 3rem;
                    font-weight: bold;
                    transition: .5s;
                    text-align: left;
                    padding: 10px;
                    p{float: left;}
                }
                .shoesmenu:nth-of-type(5){color: #f00;}
                .shoesmenu.active{
                    font-weight: bold;
                    color: #000;
                }
                .shoesmenu::after{
                    content: '';
                    background-image: url('../img/indeximg/plus.png');
                    background-size: 30px 30px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    position: relative;
                    float: right;
                    top: 7px;
                }
                .shoesmenu.active::after{
                    background-image: url('../img/indeximg/minus.png');
                    content: '';
                }
                .panel{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    a{
                        p{color: #000; font-size: 2rem;
                        padding: 2% 5%;
                        }
                    }
                }
            }
            .user{border-bottom: 1px solid #757575;
                .usermenu{
                    background: #fff;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    font-size: 1.4rem;
                    font-weight: bold;
                    transition: .5s;
                    text-align: left;
                    padding: 10px;
                    p{float: left;}
                }
                .usermenu.active{
                    font-weight: bold;
                    color: #000;
                }
                .usermenu::after{
                    content: '';
                    background-image: url('../img/indeximg/plus.png');
                    background-size: 20px 20px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    float: right;
                    top: 0;
                }
                .usermenu.active::after{
                    background-image: url('../img/indeximg/minus.png');
                    content: '';
                }
            }
        }
        .nav.active{transform: translateX(0%);}
    }
    // header end-----------------------------------------------


    // content--------------------------------------------------
    .content{background: #000;
            padding-top: 13%;
        .launchingbox{
            a{
                img{width: 100%;}
            }
        }
        .menucategory{padding: 20px 0;
                    background: #000;
                    border-top: 1px solid #353535;
            ul{display: flex;
                margin: 0 auto;
                justify-content: space-between;
                width: 80%;
                li{
                    a{color: #fff;font-size: 1.2rem;}
                }
            }
        }
        .shoes{width: 95%;margin:0 auto;padding-bottom:15%;
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                li{width: 50%;text-align: center;
                    .day{position: relative;
                        p{
                            position: absolute;
                            width: 45px;
                            height: 30px;
                            font-size: 1.1rem;
                            font-weight: bold;
                            line-height: 30px;
                            background: #fff;
                            left: 5px;
                        }
                    }
                    .shoesimg01{
                        a{
                            img{width: 95%;}
                        }
                    }
                    .txtbox01{
                        width: 95%; margin: 0 auto;
                        p{text-align: left;font-size: 1.2rem;
                            color: #fff;
                        }
                        a:nth-of-type(1){
                            p{margin: 10% 0;}
                        }
                        a:nth-of-type(2){
                            p{
                                margin: 10% 0;
                                width: 100%;
                                height: 33px;
                                background: #fff;
                                color: #000;
                                text-align: center;
                                line-height: 31px;
                                
                            }
                        }
                    }
                    .day02{position: relative;
                        p{
                            position: absolute;
                            width: 45px;
                            height: 30px;
                            font-size: 1.1rem;
                            font-weight: bold;
                            line-height: 30px;
                            background: #fff;
                            left: 5px;
                        }
                    }
                    .shoesimg02{position: relative;
                        p{position: absolute;
                            top: 45%;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 10;
                            color: #fff;
                            font-size: 16px;
                            font-weight: bold;
                        }
                        a{
                            
                            img{width: 95%;
                                opacity: .5;
                            }
                        }
                    }
                    .txtbox02{
                        width: 95%; margin: 0 auto;
                        p{text-align: left;font-size: 1.2rem;
                            color: #fff;
                        }
                        a:nth-of-type(1){
                            p{margin: 10% 0;}
                        }
                        a:nth-of-type(2){
                            p{
                                margin: 10% 0;
                                width: 100%;
                                height: 33px;
                                background: #000;
                                color: #fff;
                                border: 1px solid #fff;
                                text-align: center;
                                line-height: 31px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    // content end----------------------------------------------
        
        
    // footer---------------------------------------------------
    .footer{
        .familysites{
            .sites{border: 1px solid #000;
                padding: 21px 50px 21px 16px;
                position: relative;
                p{font-size: 1.2rem;}
                >button{
                    position: absolute;
                    background: none;
                    width: 40px;
                    border: none;
                    outline: 0;
                    right: 10px;
                    top: 25%;
                    img{}
                }
            }
        }
        .conkorea{
            text-align: center;
            .converkor{
                p{
                    a{color: gray;font-size: 1.5rem;}
                }
                a:nth-of-type(1){
                    img{width: 15px;margin: 5%;}
                }
                a:nth-of-type(2){
                    img{width: 15px;margin: 5%;}
                }
                P{color: gray;font-size: 1.1rem;
                    line-height: 2;
                }
                p:nth-of-type(1){color: #000;margin: 5% 0;}
                p:nth-of-type(6){color: #000;}
                p:nth-of-type(11){
                    color: #000;font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
        .kor{
            background:#000 ;
            padding: 21px 16px 21px 16px;
            display: flex;
            justify-content: space-between;
            span:nth-of-type(1){
                color:#fff;
                img{width: 20px;}
            }
            span:nth-of-type(2){color: gainsboro;}
        }
    }
}
// footer end---------------------------------------------------