@import './conmmon';

/* mobiie */
@media (min-width:320px) and (max-width:767px){
    html{font-size: 10px;}
    .header{
        width: 360px;
        height: 50px;
        background: #fff;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid #757575;
        .top{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 90%;
            .triger-menu{
                display: block;
                width: 5%; height: 20px;
                position: relative;
                span{
                    position: absolute;
                    right: 0px; top: 50%;
                    width: 100%;
                    border-top: 2px solid #000;
                }
                span:nth-of-type(1){transform: translateY(-300%);}
                span:nth-of-type(3){transform: translateY(300%);}
            }
            a:nth-of-type(2){
                margin-left: 25%;
                width: 32%;
                img{width: 100%;}
            }
            a:nth-of-type(3){
                margin-left: 10%;
                width: 7%;
                img{width: 100%;}
            }
            a:nth-of-type(4){
                width: 5%;
                img{width: 100%;}
            }
        }
    }



    .buybtn{width: 95%; position: fixed; bottom: 2%;
        z-index: 10; 
        ul{margin: 0 auto; display: flex;
            font-size: 1.4rem;
            text-align: center;
            line-height: 50px;
            li{height: 50px; border: 1px solid #000;
                margin-left: 5%;
            }
            li:nth-of-type(1){width: 40%; background: #fff;
                a{color: #000;}
            }
            li:nth-of-type(2){width: 40%; background: #000;
                a{color: #fff;}
            }
            li:nth-of-type(3){width: 20%; background: #fff;
                a{
                    button{background: none;border:none;
                        img{width: 20px;}
                    }
                }
            }
        }
    }

    .content{
        padding-top: 13%;
        .shoes01{width: 90%; margin: 0 auto; 
                padding: 5% 0;
                display: flex;
                justify-content: space-between;
            .txt01{
                h2{font-size: 1.4rem;}
                h5{font-size: 1rem;}
            }
            .txt02{
                h3{font-size: 1.3rem;}
            }
        }
        .shoesslide{
            .slideimg{position: relative;
                figure{
                    img{}
                }
                .slidebtn{
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 1.3rem;
                    button{
                        background:none;
                        width: 30px;
                        border: none;
                        outline: 0;
                    }
                    button:nth-of-type(1){}
                    button:nth-of-type(2){}
                    code{}
                }
            }
            .shoeslink{width: 90%; margin: 0 auto; text-align: center;
                ul{display: flex;
                    li{width: 20%;}
                    li:nth-of-type(1){border-bottom: 3px solid #000; margin-right: 1%;}
                    li:nth-of-type(2){border-bottom: 3px solid #757575;}
                }
                p{margin: 3% 0;}
                p:nth-of-type(1){font-size: 1.4rem; color: #000;}
                p:nth-of-type(2){font-size: 1.2rem; color: #757575;}
            }
        }
        .size{width: 90%; margin: 0 auto;
            .guide{
                a:nth-of-type(1){
                    p{
                        width: 100%;line-height: 28px;
                        background: #000;
                        color: #fff;
                        font-size: 1.2rem;
                        text-align: center;
                    }
                }
                a:nth-of-type(2){
                    p{
                        text-align: center;
                        color: #000;
                        font-size: 1.4rem;
                    }
                }
            }
            .shoessize{margin: 10% 0;
                ul{width: 100%; display: flex;
                    text-align: center;
                    flex-wrap: wrap;
                    li{width: 20%;
                        height: 50px;
                        border: 1px solid #e5e5e5;
                        a{
                            span{
                                line-height: 50px;
                                color: #000;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
            .inputbtn{
                ul{display: flex; 
                    li{
                        input{width: 70px;height: 50px;
                            border: 1px solid #e5e5e5;
                            text-align: center;
                            font-size: 1.4rem;
                        }
                        button{width: 50px;height: 50px;
                            font-size: 3rem;
                            background: none;
                            border: 1px solid #e5e5e5;
                            outline: 0;
                        }
                    }
                }
            }
            .social{margin: 3% 0;
                a:nth-of-type(1){
                    img{width: 37px;}
                }
                a:nth-of-type(2){
                    img{width: 30px;}
                }
            }
            .buy{text-align: center; border-bottom: 1px solid #e5e5e5;
                p{
                    width: 100%;height: 46px;
                    line-height: 46px;
                    background: #fff;
                    color: #000;
                    font-size: 1.2rem;
                    border: 1px solid #e5e5e5;
                }
                a{font-size: 1.2rem; color: #000;
                    display: inline-block;
                    margin: 5%;
                }
            }
        }
        .runstar{width: 90%; margin: 15% auto;
            img{}
            .review{margin: 10% 0 5% 0;
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                h2{font-size: 2.4rem;}
                h5,h6,p{text-align: center;}
                h5{font-size: 2.2rem;
                    font-weight: 500;
                    margin-top: 20%;
                }
                h6{font-size: 1.4rem; font-weight: normal;}
                p{font-size: 1.4rem;
                    width: 200px; height: 50px;
                    border: 1px solid #000;
                    line-height: 50px;
                    font-weight: bold;
                    color: #000;
                    margin: 10% 0 30% 50%;
                    transform: translateX(-50%);
                    left: 50%;
                }
            }
            .info{position: relative;
                p{font-size: 1.6rem; font-weight: bold;}
                button{
                    position: absolute;
                    background: none;
                    border: none;
                    outline: 0;
                    width: 35px;
                    right: 10px;
                    top: 0%;
                    img{}
                }
            }
        }
    }



    .footer{
        .familysites{
            .sites{border: 1px solid #000;
                padding: 21px 50px 21px 16px;
                position: relative;
                p{font-size: 1.2rem;}
                >button{
                    position: absolute;
                    background: none;
                    width: 40px;
                    border: none;
                    outline: 0;
                    right: 10px;
                    top: 25%;
                    img{}
                }
            }
        }
        .conkorea{
            text-align: center;
            .converkor{
                p{
                    a{color: gray;font-size: 1.5rem;}
                }
                a:nth-of-type(1){
                    img{width: 15px;margin: 5%;}
                }
                a:nth-of-type(2){
                    img{width: 15px;margin: 5%;}
                }
                P{color: gray;font-size: 1.1rem;
                    line-height: 2;
                }
                p:nth-of-type(1){color: #000;margin: 5% 0;}
                p:nth-of-type(6){color: #000;}
                p:nth-of-type(11){
                    color: #000;font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
        .kor{
            background:#000 ;
            padding: 21px 16px 21px 16px;
            display: flex;
            justify-content: space-between;
            span:nth-of-type(1){
                color:#fff;
                img{width: 20px;}
            }
            span:nth-of-type(2){color: gainsboro;}
        }
    }
}